* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  color: #00b2a7;
}

a:hover {
  color: #66b2a9;
  text-decoration: none;
}

.wrapper {
  padding: 1.5rem 1rem;
  color: #333;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

.wrapper h2 {
  margin: 0 0 1.5rem;
  font-size: 22px;
}

.global-loader {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 1.5rem 0.5rem;
  }
}
