.wrapper {
  padding: 2rem 1rem;
  color: #333;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
  overflow-x: auto;
}

.wrapper h2 {
  margin-top: 0;
}

.purple {
  color: #6302de;
}

.global-loader {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}